@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Berkshire+Swash|Delius+Unicase|Fondamento|Grand+Hotel|Patrick+Hand|Patrick+Hand+SC');



body{

  /* background: url(https://images.unsplash.com/photo-1514575619841-1a3d949d3277?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=882&q=80); */

  background: url(https://images.unsplash.com/photo-1492892132812-a00a8b245c45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);

  /* background: url(https://images.unsplash.com/photo-1513346940221-6f673d962e97?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80); */



  /* font-family: 'Patrick Hand SC', cursive;

  font-family: 'Amatic SC', cursive; */



  font-family: 'Berkshire Swash', cursive;



  /* font-family: 'Grand Hotel', cursive;

  font-family: 'Patrick Hand', cursive;

  font-family: 'Delius Unicase', cursive; */

  color: white;

  text-align: center;

  background-attachment: fixed; 

}

h1{

  margin:10px;

  font-size: 50px;

}

h2{

  margin:10px;

  font-size:25px;

}

footer{

  margin:20px;

  clear:both;

}

p{

  font-family: 'Patrick Hand SC', cursive;

}

nav{

  padding: 10px;

  clear: both;

}