/* Pagination*/

nav a {

  color: white;

  /* clear:both;

  display: block; */

  padding: 5px 10px;

  text-decoration: none;

  transition: background-color 800ms;

}



nav a.active {

  background-color:  rgba(52, 18, 7, 0.61);

  color: white;

}



nav a:hover:not(.active) {

  background-color: rgba(255, 255, 255, 0.502);

}



/* horn gallery items */

div{

  width: 10px;

  margin:10px;

  padding:10px;

  text-align: center;

  background: rgba(52, 18, 7, 0.61);

  color:white;

  width: 150px;

  height: 200px;

  overflow: hidden;

  float: left;

  /* border-radius: 15%; */

}



img{

  width:100px;

}



/* gallery section */

#gallery{

  background: rgba(59, 21, 9, 0.61);

}



.content{

  display: flex;

  flex-direction: row;

  flex-wrap: wrap;

}



/* breakpoints */

 @media(min-width: 480px){

#gallery{

  width: 384px;

  margin: 0 auto; 

  overflow: hidden;

  }

}



@media(min-width: 720px){

  #gallery{

    width: 576px;

    margin: 0 auto; 

    overflow: hidden;

  }

}



@media(min-width: 960px){

  #gallery{

    width: 762px;

    margin: 0 auto; 

    overflow: hidden;

  }

}



nav li {

  margin-right: .4em;

  font-size: 1.5em;

  padding: .5em .2em;

  border-bottom: 1px solid #ccc;

}